body {
    background-image: url("https://img.freepik.com/free-photo/white-wooden-heart-rustic-table_1357-310.jpg?w=2000");
    background-repeat: repeat;
    background-size: contain;


}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    opacity: 80%;
}

p {
    text-align: center;
    font-size: 25px;
    color: black;
}

@media(max-width: 480px) {}